body {
    font-family: Arial, sans-serif;
    background-color: #D4BDAC;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    color: green;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #88C273;
    color: white;
    padding: 12px;
    text-align: left;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

tr{
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #0056b3;
}

td a {
    margin-right: 10px;
}

.tombol_logout {
    background-color: red; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    display: inline-block;
    border: none;
}

.tombol {
    background-color: #88C273; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    display: inline-block;
}

.tombol:hover {
    background-color: #45a049;
}
